.watcher-preview {
    margin-top: 20px;
    background-color: rgb(0, 0, 113);
    box-shadow: 2px 2px 11px rgb(115, 115, 115);
    color: aliceblue;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom right;
    overflow: hidden;
    cursor: pointer;

    .info {
        padding: 10px;
        flex-grow: 1;
    }

    .actions {
        flex-basis: 25%;
        padding: 10px;
        background-color: #0000007b;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: aliceblue;
    }

    .btn-remove {
        &:hover {
            text-decoration: underline;
        }
    }

}