.watcher-index-section {
    // background-color: rgb(255, 219, 171);

    h1 {
        text-align: center;
    }


    a {

        &.add-watchers2 {
            text-align: center;
            margin-bottom: 20px;
        }
    }


}